Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*/Intermediate
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
*/*.VC.db*
*/*.VC.db
*/*.VC.opendb
*/.vs/*
